body{
  color: #f2f3f2;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}
h1{
  color: #f2f3f2;
}
h4{
  font-size: 13px;
  color: red;
}
a{
  color: #f2f3f2;
  margin-right: 20px;
  text-decoration-line: none;
}
form{
  background: #2c652b;
  padding: 50px 20px 50px 20px;
  border-radius:25px;
  margin-top: 20%;
  margin-left: 30%;
  margin-right: 30%;
}
input[type='text']{
  border-radius: 25px;
  margin: 10px 0px 5px 0px;
}
input[type='text']:focus{
  outline: 2px solid #3c8e61;
}
input[type='password']:focus{
  outline: 2px solid #3c8e61;
}
input[type='password']{
  border-radius: 25px;
  margin: 10px 0px 5px 0px;
}
input[type='submit']{
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 25px;
  border: 0px;
  background-color: #f2f3f2;
  color:#1f471f;
}
input[type='submit']:hover{
  background: #1f471f;
  color: #f2f3f2;
}
@media screen and (max-width:768px){
  body{
    font-size: 13px;
    text-align: center;
  }
  h4{
  font-size: 9px;
  color: red;
}
  form{
    margin-top: 50%;
    margin-left: 10%;
    margin-right: 10%;
  }
  
}